* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   scroll-behavior: smooth;
   font-family: sans-serif;
   outline: none;
   border: none;
   letter-spacing: .4px;
}

:root {
   --color-black: #000000;
   --color-white: #ffffff;
   --color-dark: #353535;
   --color-dark-variant: #555555;
   --transition: .4s ease;
}

h1,
h2,
h3,
h4,
h5 {
   line-height: 120%;

}

h1 {
   font-size: 48px;
   color: var(--color-black);
}

h2 {
   font-size: 28px;
   color: var(--color-dark-variant);
}

h3 {
   font-size: 26px;
   color: var(--color-black);
}

h4 {
   font-size: 19px;
   color: var(--color-dark);
}

h5 {
   font-size: 18px;
   font-weight: 400;
}

.heading {
   text-align: center;
   margin-bottom: 2rem;

}

p {
   font-size: 17px;
   line-height: 140%;
}

.heading p {
   padding-top: 9rem;
}

a {
   font-size: 24px;
   color: var(--color-black);
   text-decoration-color: var(--color-white);
   transition: var(--transition);
}

a:hover {
   color: var(--color-dark-variant);
   text-decoration-color: var(--color-dark-variant);
   text-underline-offset: 1rem;
   text-decoration: underline;

}

.btn {
   display: inline-block;
   width: fit-content;
   padding: 1rem;
   width: 8rem;
   border-radius: 2rem;
   cursor: pointer;
   color: var(--color-dark);
   border: 1px solid var(--color-dark-variant);
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   font-size: 17px;
   transition: var(--transition);

}

.btn:hover {
   background: var(--color-dark-variant);
   color: var(--color-white);
}

.btn-dark {
   color: var(--color-white);
   background: var(--color-dark);

}

.btn-dark:hover {
   background: var(--color-black);

}

img { 
   width: 100%;
   display: block;
}

.icon1 {
   width: 32px;
   height: max-content;


}

/*..............start nav bar.....................*/

nav {
   z-index: 1;
   top: 0;
   left: 0;
   display: grid;
   place-items: center;
   background: red;
   height: 8rem;
   width: 110%;
   position: fixed;


}

.container {
   margin: 0 auto;
   max-width: 1200px;
   width: 90%;

}

.nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

.logo {
   font-size: 32px;
   color: var(--color-black) !important;
   text-decoration: none !important;
}

.nav-links {
   display: flex;
   align-items: center;
   gap: 2rem;
}

/*..............End nav bar.....................*/




ends on 0:15:09 minutes